@font-face {
    font-family: 'IRANsans';
    src: url('fonts/IRANSansWeb.ttf') format('truetype');
}

@font-face {
    font-family: 'lalezar';
    src: url('fonts/Lalezar-Regular.ttf') format('truetype');
}

body, html {
    padding: 0;
    margin: 0;
    direction: rtl;
    text-align: right;
    font-family: "IRANsans";
    background-color: var(--site-bg);
}







/* //////////////////////////////// menu top */

.navbar-collapse {
    justify-content: center !important;
}

.navbar-nav {
    padding: 5px 0;
    border-radius: 6px;
}

.navbar-nav a {
    color: var(--stie-high-gray);
    text-decoration: none;
    transition: 0.4s;
    font-weight: bold;
    font-size: 15px;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding: 5px 25px;
}

.navbar-expand-lg .navbar-collapse{
    justify-content: space-around !important;
}

.menuLine{
    background-color: #fff;
    width: 0%;
    padding: 1px 0;
    visibility: hidden;
    transition: .3s;
    margin: 0 auto;
    text-align: center;
    margin-top: 5px;
}

.nav-item .menuLine{
    background-color: #323846;
}

.menuItemWrapper:hover .menuLine{
    width: 100%;
    visibility: visible;
}

.nav-item:hover .menuLine{
    width: 100%;
    visibility: visible;
}

.login{
    width: 77px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    border-radius: 19px;
    font-size: 21px;
    padding: 3px 5px;
    border: 2px solid var(--site-pourple);
    line-height: 1;
    box-shadow: 0px 20px 34px #00000029;
    transition: .3s;
    cursor: pointer;
}

.login:hover{
    border-color: #fff;
    color: var(--site-pourple);
    box-shadow: 0px 20px 34px #0000005b;
}

/* //////////////////////////////// end of top menu */





/* //////////////////////////////// header */

header, .headContent{
    height: 100vh;
}

.createYourOwnCalenderInner{
    background-color: #fff;
    border: 6px var(--site-pourple) solid;
    color: var(--stie-high-gray);
    border-radius: 22px;
    font-size: 42px;
    font-weight: bolder;
    padding: 10px;
    text-align: center;
    line-height: 1.7;
    box-shadow: 0px 58px 97px #00000029;
    position: relative;
    overflow: hidden;
    transition: .3s;
}

.createCalenderIconWrapper{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.createYourOwnCalenderInner i{
    color: #fff;
    transform: scale(.3);
    transition: .3s;
    opacity: .1;
}

.createYourOwnCalenderInner:hover i{
    transform: scale(2.4);
    opacity: 1;
}

.createYourOwnCalenderInner:hover{
    background-color: var(--site-pourple);
    border: 6px var(--site-soft-gray) solid;
    box-shadow: 0px 58px 97px #0000005b;
}

.createYourOwnCalenderInner p{
    transition: .1s;
}

.createYourOwnCalenderInner:hover p{
    visibility: hidden;
}

.yearName{
    font-weight: bolder;
    color: var(--site-pourple);
}

.dateText, .dateNumber{
    color: var(--site-gray);
}

.allDateWrapper{
    border-left: 2px solid #c7c7c7;
}

.headLogo{
    width: 77px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    border-radius: 19px;
    font-size: 21px;
    padding: 3px 5px;
    border: 2px solid var(--site-pourple);
    line-height: 1;
    position: absolute;
    top: 14px;
}

.watchBand{
    background-color: var(--site-gray);
    height: 100vh;
    width: 100px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    z-index: 4;
}

.watchDisplay{
    width: 185px;
    height: 185px;
    padding: 10px;
    background-color: var(--stie-high-gray);
    border-radius: 25px;
    border: 8px solid var(--site-soft-gray);
    position: absolute;
    font-size: 74px;
    color: #FAF9F4;
    font-family: "lalezar";
    direction: ltr;
    line-height: 1;
    box-shadow: 0px 41px 71px #4D4D4D61;
}

/* .calenderSvg{
    animation: calenderSvg 1.5s;
}

@keyframes calenderSvg {
    0%{
        opacity: .5;
        margin-top: 80px;
    }
    65%{
        margin-top: -25px;
        opacity: .7;
    }
    100%{
        opacity: 1;
        margin-top: 0;
    }
} */

/* //////////////////////////////// end of header */






/* //////////////////////////////// side menu */

.menuSide{
    background-color: var(--site-gray);
    height: 100vh;
    width: 100px;
    margin: 0 auto;
    position: fixed;
    z-index: 3;
    top: 0;
}

.menuSide a{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

/* //////////////////////////////// end of side menu */













/* //////////////////////////////// calender */

.calenderTable{
    border-radius: 14px;
    box-shadow: 0px 56px 92px #00000029;
}

.calenderHeader h3{
    font-weight: bold;
    color: var(--site-high-gray);
}

.calenderHeader span{
    cursor: pointer;
}

.calenderHeader span i{
    font-size: 34px;
    transition: .3s; 
}

.calenderHeader span span{
    color: var(--site-pourple);
    font-weight: bold;
}

.calenderHeader span:hover i{
    transform: scale(1.6) rotate(1turn);
    color: var(--site-pourple);
}

.calenderBodyHead{
    border-top: 3px solid var(--site-pourple);
    color: var(--site-pourple);
    font-weight: bold;
    font-size: 19px;
}

.calenderBodyBody{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.calenderBodyBody div{
    flex: 0 0 14.28%;
    padding-bottom: 20px;
}

.calenderBodyBody div span{
    font-size: 20px;
    font-weight: bold;
    padding: 6px 2px;
    border-radius: 50%;
    display: block;
    width: 70%;
    margin: 0 auto;
}

.calenderBodyBody div span.curentDay{
    color: #fff;
    background-color: var(--site-pourple);
    box-shadow: 0px 20px 34px #00000029;
}


.calenderText{
    padding-right: 35px;
}

.calenderSingleText{
    margin-bottom: 15px;
}

.calenderSingleText h4{
    display: inline-block;
    padding-left: 10px;
    font-weight: bolder;
    color: var(--site-high-gray);
}

.calenderSingleText span{
    color: var(--site-gray);
    font-size: 14px;
}

.calenderTextHoliday h4, .calenderTextHoliday span{
    color: var(--site-pourple) !important;
}

/* .calenderTextInner{
    overflow-y: scroll;
    height: 538px;
}

.calenderTextInner::-webkit-scrollbar{
    width: 13px;
}

.calenderTextInner::-webkit-scrollbar-track {
    background: #dadada; 
    border-radius: 10px;
}

.calenderTextInner::-webkit-scrollbar-thumb {
    background: var(--site-pourple); 
    transition: .2s;
    border-radius: 10px;
} */

.showToday{
    background-color: var(--site-pourple);
    border: 3px solid #384399;
    text-align: center;
    color: #fff;
    padding: 5px;
    display: block;
    width: 100%;
    border-radius: 25px;
    font-weight: bold;
}


/* //////////////////////////////// end of calender */









/* //////////////////////////////// footer */

.logoFooter{
    background-color: var(--site-pourple);
    padding: 5px;
    line-height: 1;
    border-radius: 35px;
    color: #fff;
    text-align: center;
    font-size: 60px;
}

.socialMedia a{
    color: var(--site-pourple);
    font-size: 24px;
    transition: .3s;
}

.socialMedia a:hover{
    transform: scale(1.4);

}

.footerItemInner{
    height: 100%;
}

.footerItemInner h5{
    color: var(--site-high-gray);
    padding-bottom: 20px;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
    font-weight: bolder;
    max-width: 80%;
}

.footerItemInner p{
    font-size: 15px;
    color: var(--site-high-gray);
    line-height: 2;
}

.footerItemInner ul{
    list-style: none;
    padding-right: 20px;
}

.footerItemInner ul a{
    color: var(--site-high-gray);
    text-decoration: none;
}

.footerItemInner ul a li{
    padding-bottom: 20px;
}

.mapouter iframe{
    width: 100%;
    height: 180px;
    border-radius: 20px;
}

.footerItemInner h6{
    color: var(--site-high-gray);
    padding-bottom: 10px;
    border-bottom: 2px solid #ddd;
    margin-bottom: 10px;
    font-weight: bolder;
}

.footerLogin{
    background-color: var(--site-pourple);
    border: none;
    padding: 5px 25px;
}

/* //////////////////////////////// end of footer */












/* @media screen and (max-width: 992px) {

    header,.headContent{
        height: auto;
    }

} */


@media screen and (max-width: 768px) {
    header,.headContent{
        height: auto;
    }

}