/* ////////////////////// variables */

:root{
    --site-pourple: #5568F2;
    --site-gray: #646E80;
    --stie-high-gray: #323846;
    --site-soft-gray: #E4E4E4;
    --site-bg: #FAF9F4;
}

/* ////////////////////// end of variables */








/* ////////////////////// most usefull class */


.height-100{
    height: 100%;
}

.width-100{
    width: 100%;
}

.width-70{
    width: 70%;
}

.pointer{
    cursor: pointer;
}

.bg-gradiant-1{
    background: linear-gradient(to right, #3494e6, #ec6ead) !important;
}

.bg-gradiant-2{
    background: linear-gradient(to right, #8360c3, #2ebf91) !important;
}

.shake:hover{
    cursor: pointer;
    animation: .3s shake infinite;
}

@keyframes shake {
    50%{
        transform: rotate(-5deg) scale(1.2);
    }
    100%{
        transform: rotate(5deg) scale(1);
    }
}

.border-radius-5{
    border-radius: 17px;
}

.border-radius-4{
    border-radius: 13px;
}

.border-radius-3{
    border-radius: 10px;
}

.border-radius-2{
    border-radius: 6px;
}



.box-shadow-normal{
    box-shadow: 0px 3px 12px 0px #dddddd;
}


/* ////////////////////// end of most class */










/* ///////////////////// menu button */

.menu-button {

    padding: 2px 10px;

    cursor: pointer;

    -webkit-transition: .3s;
    transition: .3s;
}

.menu-button .bar:nth-of-type(1) {
    margin-top: 0px;
}

.menu-button .bar:nth-of-type(3) {
    margin-bottom: 0px;
}

.bar {
    position: relative;
    display: block;

    width: 50px;
    height: 5px;

    margin: 10px auto;
    background-color: var(--stie-high-gray);

    border-radius: 10px;

    -webkit-transition: .3s;
    transition: .3s;
}

.menu-button:hover .bar:nth-of-type(1) {
    -webkit-transform: translateY(1.5px) rotate(-4.5deg);
    -ms-transform: translateY(1.5px) rotate(-4.5deg);
    transform: translateY(1.5px) rotate(-4.5deg);
}

.menu-button:hover .bar:nth-of-type(2) {
    opacity: .9;
}

.menu-button:hover .bar:nth-of-type(3) {
    -webkit-transform: translateY(-1.5px) rotate(4.5deg);
    -ms-transform: translateY(-1.5px) rotate(4.5deg);
    transform: translateY(-1.5px) rotate(4.5deg);
}

.cross .bar:nth-of-type(1) {
    -webkit-transform: translateY(15px) rotate(-45deg);
    -ms-transform: translateY(15px) rotate(-45deg);
    transform: translateY(15px) rotate(-45deg);
}

.cross .bar:nth-of-type(2) {
    opacity: 0;
}

.cross .bar:nth-of-type(3) {
    -webkit-transform: translateY(-15px) rotate(45deg);
    -ms-transform: translateY(-15px) rotate(45deg);
    transform: translateY(-15px) rotate(45deg);
}

.cross:hover .bar:nth-of-type(1) {
    -webkit-transform: translateY(13.5px) rotate(-40.5deg);
    -ms-transform: translateY(13.5px) rotate(-40.5deg);
    transform: translateY(13.5px) rotate(-40.5deg);
}

.cross:hover .bar:nth-of-type(2) {
    opacity: .1;
}

.cross:hover .bar:nth-of-type(3) {
    -webkit-transform: translateY(-13.5px) rotate(40.5deg);
    -ms-transform: translateY(-13.5px) rotate(40.5deg);
    transform: translateY(-13.5px) rotate(40.5deg);
}

/* ///////////////////////// end of menu button */