@font-face {
    font-family: 'IRANsans';
    src: url('fonts/IRANSansWeb.ttf') format('truetype');
}

@font-face {
    font-family: 'lalezar';
    src: url('fonts/Lalezar-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'IRANyekan';
    src: url('fonts/iranyekanwebregularfanum.ttf') format('truetype');
}

@font-face {
    font-family: 'IRANyekanBold';
    src: url('fonts/IRANYekanMobileExtraBold.ttf') format('truetype');
}


body, html {
    padding: 0;
    margin: 0;
    direction: rtl;
    text-align: right;
    font-family: "IRANsans";
    background-color: var(--site-bg);
}

img{
    max-width: 100%;
}






/* //////////////////////////////// menu top */

.navbar-collapse {
    justify-content: center !important;
}

.navbar-nav {
    padding: 5px 0;
    border-radius: 6px;
}

.navbar-nav a {
    color: var(--stie-high-gray);
    text-decoration: none;
    transition: 0.4s;
    font-weight: bold;
    font-size: 15px;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding: 5px 25px;
}

.navbar-expand-lg .navbar-collapse{
    justify-content: space-around !important;
}

.navbar-toggler i{
    font-size: 33px;
    color: #323846;
}

.menuLine{
    background-color: #fff;
    width: 0%;
    padding: 1px 0;
    visibility: hidden;
    transition: .3s;
    margin: 0 auto;
    text-align: center;
    margin-top: 5px;
}

.nav-item .menuLine{
    background-color: #323846;
}

.menuItemWrapper:hover .menuLine{
    width: 100%;
    visibility: visible;
}

.nav-item:hover .menuLine{
    width: 100%;
    visibility: visible;
}

.topMenu{
    height: 60px;
}

.login{
    width: 77px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    border-radius: 19px;
    font-size: 21px;
    padding: 3px 5px;
    border: 2px solid var(--site-pourple);
    line-height: 1;
    box-shadow: 0px 20px 34px #00000029;
    transition: .3s;
    cursor: pointer;
}

.login:hover{
    border-color: #fff;
    color: var(--site-pourple);
    box-shadow: 0px 20px 34px #0000005b;
}

.curentPage{
    background-color: #fff;
    border-radius: 16px;
    border: 3px solid var(--site-pourple);
    color: var(--site-pourple) !important;
    box-shadow: 0px 20px 34px #00000029;
    padding: 1px 5px;
}

/* //////////////////////////////// end of top menu */





/* //////////////////////////////// header */

header, .headContent{
    min-height: 100vh;
}

.createYourOwnCalenderInner{
    background-color: #fff;
    border: 6px var(--site-pourple) solid;
    color: var(--stie-high-gray);
    border-radius: 22px;
    font-size: 42px;
    font-weight: bolder;
    padding: 10px;
    text-align: center;
    line-height: 1.7;
    box-shadow: 0px 58px 97px #00000029;
    position: relative;
    overflow: hidden;
    transition: .3s;
}

.createCalenderIconWrapper{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.createYourOwnCalenderInner i{
    color: #fff;
    transform: scale(.3);
    transition: .3s;
    opacity: .1;
}

.createYourOwnCalenderInner:hover i{
    transform: scale(2.4);
    opacity: 1;
}

.createYourOwnCalenderInner:hover{
    background-color: var(--site-pourple);
    border: 6px var(--site-soft-gray) solid;
    box-shadow: 0px 58px 97px #0000005b;
}

.createYourOwnCalenderInner p{
    transition: .1s;
}

.createYourOwnCalenderInner:hover p{
    visibility: hidden;
}

.yearName{
    font-family: 'IRANyekan';
    font-weight: bold;
    color: var(--site-pourple);
}

.dateText, .dateNumber{
    color: var(--site-gray);
}

.allDateWrapper{
    border-left: 2px solid #c7c7c7;
}

.headLogo{
    width: 77px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    border-radius: 19px;
    font-size: 21px;
    padding: 3px 5px;
    border: 2px solid var(--site-pourple);
    line-height: 1;
    position: absolute;
    top: 14px;
}

.watchBand{
    background-color: var(--site-gray);
    height: 100vh;
    width: 100px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    z-index: 4;
    transition: .3s;
}

.watchDisplay{
    width: 185px;
    height: 185px;
    padding: 10px;
    background-color: var(--stie-high-gray);
    border-radius: 25px;
    border: 8px solid var(--site-soft-gray);
    position: absolute;
    font-size: 74px;
    color: #FAF9F4;
    font-family: "lalezar";
    direction: ltr;
    line-height: 1;
    box-shadow: 0px 41px 71px #4D4D4D61;
}

.blink{
    animation: blink .6s alternate infinite;
}

@keyframes blink{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.calenderSvg{
    animation: calenderSvg 1.5s;
}

@keyframes calenderSvg {
    0%{
        opacity: .5;
        margin-top: 80px;
    }
    65%{
        margin-top: -25px;
        opacity: .7;
    }
    100%{
        opacity: 1;
        margin-top: 0;
    }
}

/* //////////////////////////////// end of header */






/* //////////////////////////////// side menu */

.menuSide{
    background-color: var(--site-gray);
    height: 100vh;
    width: 100px;
    margin: 0 auto;
    position: fixed;
    z-index: 3;
    top: 0;
    transition: .3s;
}

.menuSide a{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.openMenu{
    opacity: 1;
    width: 10rem !important;
    box-shadow: -17px 0px 92px #00000063 !important;
    visibility: visible !important;
}

/* //////////////////////////////// end of side menu */













/* //////////////////////////////// calender */

.calenderTable{
    border-radius: 14px;
    box-shadow: 0px 56px 92px #00000029;
}

.calenderHeader h3{
    font-weight: bold;
    color: var(--site-high-gray);
}

.calenderHeader span{
    cursor: pointer;
}

.calenderHeader span i{
    font-size: 34px;
    transition: .3s; 
}

.calenderHeader span span{
    color: var(--site-pourple);
    font-weight: bold;
}

.calenderHeader span:hover i{
    transform: scale(1.6) rotate(1turn);
    color: var(--site-pourple);
}

.calenderBodyHead{
    border-top: 3px solid var(--site-pourple);
    color: var(--site-pourple);
    font-weight: bold;
    font-size: 19px;
}

.calenderBodyBody{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.calenderBodyBody div{
    flex: 0 0 14.28%;
    padding-bottom: 20px;
}

.calenderBodyBody div span{
    font-size: 20px;
    font-weight: bold;
    padding: 6px 2px;
    border-radius: 50%;
    display: block;
    width: 70%;
    margin: 0 auto;
}

.calenderBodyBody div span.curentDay{
    color: #fff;
    background-color: var(--site-pourple);
    box-shadow: 0px 20px 34px #00000029;
}


.calenderText{
    padding-right: 35px;
}

.calenderSingleText{
    margin-bottom: 15px;
}

.calenderSingleText h4{
    display: inline-block;
    padding-left: 10px;
    font-weight: bolder;
    color: var(--site-high-gray);
}

.calenderSingleText span{
    color: var(--site-gray);
    font-size: 14px;
}

.calenderTextHoliday h4, .calenderTextHoliday span{
    color: var(--site-pourple) !important;
}

/* .calenderTextInner{
    overflow-y: scroll;
    height: 538px;
}

.calenderTextInner::-webkit-scrollbar{
    width: 13px;
}

.calenderTextInner::-webkit-scrollbar-track {
    background: #dadada; 
    border-radius: 10px;
}

.calenderTextInner::-webkit-scrollbar-thumb {
    background: var(--site-pourple); 
    transition: .2s;
    border-radius: 10px;
} */

.showToday{
    background-color: var(--site-pourple);
    border: 3px solid #384399;
    text-align: center;
    color: #fff;
    padding: 5px;
    display: block;
    width: 100%;
    border-radius: 25px;
    font-weight: bold;
}

.comment{
    background-color: #fff;
    position: relative;
    z-index: 5;

}

.comment h4{
    background-color: var(--site-pourple);
    color: #fff;
    padding: 10px;
}


/* //////////////////////////////// end of calender */
















/* //////////////////////////////////// day calender page */

.allDates .datePackage{
    border-left: 2px solid var(--site-soft-gray);
}

.allDates .datePackage:last-child{
    border-left: none;
}

.allEvents h4{
    font-weight: bolder;
    color: var(--site-pourple);
    font-family: 'IRANyekan';
}

.eventsWrapper{
    background-color: #F8F8F8;
    box-shadow: 0px 20px 92px #00000029;
    border-radius: 15px;
    position: relative;
    z-index: 5;
    color: var(--site-high-gray);
    opacity: .6;
}

.selectBox select{
    width: 100%;
    background-color: #faf9f4;
    box-shadow: inset 0px 2px 15px #00000029;
    text-align: center;
    padding: 7px;
    border: none;
    outline: none;
    font-size: 29px;
    border-radius: 10px;
    color: #C0C3C8;
}

/* //////////////////////////////////// end of day calender page */
















/* //////////////////////////////////// contact us page */

.FormsWrapper{
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 39px 89px #00000029;
    position: relative;
    z-index: 5;
}

.FormsWrapper form label{
    color: var(--site-high-gray);
}

.FormsWrapper form input{
    border: none;
    outline: none;
    background-color: #00000000;
    border-bottom: 2px solid #d1d1d1;
    border-radius: 0;
    padding-right: 4px;
    padding-left: 4px;
    padding-bottom: 2px;
    transition: .2s;
    margin: 0 auto;
}

.FormsWrapper form input::placeholder{
    color: #d1d1d1;
}

.FormsWrapper form input:focus{
    box-shadow: none;
    width: 90%;
    background-color: #00000000;
    /* border-color: #444444; */
}

#number, #email, #username, #password{
    direction: ltr;
    text-align: left;
}

.FormsWrapper form textarea{
    border-radius: 10px;
    border-bottom-left-radius: 2px;
    background-color: #32384617;
    border: none;
    outline: none;
    font-size: 15px;
    height: 78%;
}

.FormsWrapper form textarea::placeholder{
    color: #C0C3C8;
}

.formSubmit{
    background-color: var(--site-pourple);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 100%;
    padding: 17px 5px;
    font-size: 19px;
}



.contactUsText{
    background-color: var(--stie-high-gray);
    padding: 18px;
    border-radius: 22px;
    height: 100%;
    padding-bottom: 70px;
}

.contactUsText h4{
    color: var(--site-pourple);
}

.contactUsText p{
    color: #fff;
    font-size: 13px;
}

.contactUsText div span{
    display: block;
    color: #fff;
    font-size: 12px;
}

.contactUsText div i{
    color: var(--site-pourple);
    font-size: 25px;
}

.imageContactUs{
    position: relative;
}

.imageContactUs img{
    max-width: 60%;
    position: absolute;
    right: -20%;
    top: -80px;
    z-index: 4;
}

/* //////////////////////////////////// end of contact us page */












/* //////////////////////////////////// login and singup page */

.loginForm, .singUpForm{
    padding: 10px 80px 60px 80px;
    margin: 0 auto;
    height: 100%;
}

.singUpForm{
    background-color: #323846;
    border-radius: 15px;
}

.singupForm input , .singupForm input:focus{
    color: #fff;
}

.enterForms h4{
    font-weight: bold;
    padding-bottom: 30px;
    padding-top: 10px;
}

.layoutHeightControll{
    height: 58px;
    margin-bottom: 24px;
}

.formSubmit2{
    background-color: #fff;
    color: var(--site-pourple);
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 100%;
    padding: 17px 5px;
    font-size: 19px;
}

.forgetPassLink a{
    color: var(--site-high-gray);
    font-size: 13px;
    transition: .3s;
}

.forgetPassLink a:hover{
    color: var(--site-pourple);
}

/* //////////////////////////////////// end of login and singup page */












/* //////////////////////////////////// code accept page */

.codeAcceptWrapper{
    padding: 0 40px;
}

.codeAccept{
    background-color: var(--stie-high-gray);
    padding: 20px;
    border-radius: 15px;
}

.smsForm{
    border-left: 1px solid #c0c0c0;
    padding: 35px;
    height: 100%;
    margin-top: auto;
}

/* //////////////////////////////////// end of code accept page */













/* /////////////////////////////////// month calender */

.monthAllEventsInner{
    background-color: #F8F8F8;
    box-shadow: 0px 20px 92px #00000029;
    border-radius: 15px;
    position: relative;
    z-index: 5;
    color: var(--site-high-gray);
    opacity: 1;
    min-height: 100px;
}

.monthAllEventName{
    color: var(--site-pourple);
    font-weight: bolder;
}


.monthAllEvent{
    position: relative;
    display: flex;
    flex-direction: column;
}

.monthAllEventNumber p{
    padding: 3px;
    border-radius: 50%;
    border: 1px solid #999999;
    width: 40px;
    height: 40px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    color: var(--site-pourple);
    font-size: 20px;
    background-color: #fff;
}

.createCircle p{
    padding: 3px;
    border-radius: 50%;
    border: 1px solid #999999;
    width: 30px;
    height: 30px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    color: var(--site-pourple);
    font-size: 16px;
    margin: 0;
    background-color: #fff;
    box-shadow: 0px 7px 9px #0000001f;
}

.oddItems .monthAllEventSingleDay:first-child{
    padding-top: 0 !important;
}

.createCircleHoliday p{
    background-color: var(--site-pourple);
    color: #fff;
}

.monthEventText{
    padding: 0 10px;
    color: #8d8d8d;
    max-width: 320px;
    text-align: center;
}

.line{
    width: 50px;
    height: .5px;
    background-color: #8d8d8d;
    transition: .2s;
}

.heightLine{
    width: 1px;
    background-color: #8d8d8d;
    padding: 0;
}


/* /////////////////////////////////// end of month calender */















/* /////////////////////////////////// date transform page */

.dateTransform h3{
    color: var(--site-high-gray);
    font-weight: bolder;
    font-family: 'IRANyekan';
    padding-bottom: 7px;
    font-size: 30px;
}

.dateTransformYearInput input{
    width: 100%;
    background-color: #faf9f4;
    box-shadow: inset 0px 2px 15px #00000029;
    text-align: center;
    padding: 7px;
    border: none;
    outline: none;
    font-size: 29px;
    border-radius: 10px;
    color: #C0C3C8;
    height: 100%;
}

.yearFormatWrapper h3{
    padding-left: 17px;
}

.yearFormat{
    width: 100%;
}

.yearFormat select{
    width: 100%;
    background-color: #fff;
    text-align: center;
    padding: 7px;
    border: none;
    outline: none;
    font-size: 29px;
    border-radius: 10px;
    color: #C0C3C8;
    box-shadow: 0px 20px 34px #00000029;
}

.dateTransformButtons button{
    background-color: #323846;
    font-size: 29px;
    padding: 3px;
    border-radius: 10px;
    border: 4px solid #323846;
    transition: .3s;
}

.dateTransformButtons button:hover{
    border: 4px solid var(--site-pourple);
}

.exchangeBtn i{
    transition: .3s;
}

.exchangeBtn:hover i{
    transform: scale(1.4) rotate(1turn);
}

/* /////////////////////////////////// end of date transform page */
















/* /////////////////////////////////// calculate age page */

.ageResult{
    box-shadow: 0px 56px 92px #00000029;
    padding: 40px;
    border-radius: 20px;
    display: none;
}

.ageResult p{
    text-align: center;
    font-size: 20px;
    color: #323846;
    padding-bottom: 10px;
    font-weight: bold
}

.ageResultHead{
    border-bottom: 2px solid #0000001f;
    padding-bottom: 20px !important;
}

.ageResultFooter{
    padding-top: 20px;
    border-top: 2px solid #0000001f;
}

/* /////////////////////////////////// end of calculate age page */
















/* /////////////////////////////////// profile prime page */

.primeWrapper{
    direction: ltr;
    border-radius: 20px;
    padding: 10px 13px;
    background-color: #F8F8F8;
    box-shadow: inset 0px 0px 14px #00000029;
    height: 100%;
    transition: .5s;
    display: block;
}

.primeWrapper:hover{
    transform: scale(.9);
    box-shadow: inset 0px 0px 14px #00000029, 0px 11px 20px 0px #00000029;
    cursor: pointer;
}

.primeWrapperDifferent{
    background-color: var(--site-pourple);
    color: #fff;
}

.primeInner{
    border: 1px solid #5568F2;
    padding: 10px;
    border-radius: 20px;
    position: relative;
    height: 100%;
}

.primeWrapperDifferent .primeInner{
    border: 1px solid #323846;
}

.primeInner h4{
    font-family: "IRANyekanBold";
    font-weight: bolder;
    color: var(--site-pourple);
    font-size: 29px;
}

.primeInner p{
    line-height: 1.8;
    font-weight: bold;
    color: var(--stie-high-gray);
}

.primeWrapperDifferent h4{
    color: #fff;
}

.oldPrice{
    color: #C0C3C8 !important;
}

.primeOff{
    position: absolute;
    right: 0;
    top: 0;
    font-family: "IRANyekanBold";
    background-color: var(--site-pourple);
    color: #fff;
    border-radius: 0 20px 0 20px;
    padding: 6px 12px;
}

.primeCounter{
    font-family: "IRANyekanBold";
    color: var(--stie-high-gray);
    font-size: 30px
}

/* ///////////////// edit profile section */

.editProfile{
    border-top: 2px dashed #ddd;
}

.profilePicture{
    border-radius: 50%;
    border: 1px solid var(--site-pourple);
    text-align: center;
    overflow: hidden;
    width: 160px;
}

.profilePicture img{
    max-width: 100%;
}

.editInputWrapper button{
    width: 100%;
    font-family: "IRANyekanBold";
    padding: 5px;
    background-color: var(--site-pourple);
    font-size: 16px;
    border: 0;
}

.editCalenderFromProfile{
    background-color: var(--site-pourple);
    width: 160px;
    height: 160px;
    border-radius: 50%;
    color: #fff;
    font-family: "IRANyekanBold";
    transition: .3s;
}

.editCalenderFromProfile:hover{
    border: 3px solid var(--site-pourple);
    background-color: #fff;
    color: var(--site-pourple);
    box-shadow: 0px 56px 92px #00000056;
    font-size: 37px;
    animation: fontSize .3s alternate infinite;
}

@keyframes fontSize {
    0%{
        transform: rotate(-3deg);
    }
    20%{
        transform: rotate(3deg);
    }
    40%{
        transform: rotate(-3deg);
    }
    80%{
        transform: rotate(3deg);
    }
    100%{
        transform: rotate(3deg);
    }
}

/* ///////////////// buy prime page */

.buyPrimeNow h2{
    color: var(--stie-high-gray);
    font-family: "IRANyekanBold";
}

.buyPrimeNow button{
    font-family: "IRANyekanBold";
    padding: 10px 35px;
    background-color: var(--site-pourple);
    font-size: 23px;
    border: 0;
    border-radius: 8px;
    box-shadow: 0px 32px 30px #5568F221;
}

.titleLine{
    width: 53%;
    height: 2px;
    background-color: #ddd;
}

/* /////////////////////////////////// end of profile prime page */















/* /////////////////////////////////// isntagram post page */

.typeWrapper h2{
    color: var(--stie-high-gray);
    font-family: "IRANyekanBold";
    padding-left: 40px;
}

.type{
    padding: 0 10px;
}

.typeInner{
    border-radius: 18px;
    padding: 20px;
    text-align: center;
    width: 87px;
    background-color: var(--site-pourple);
    color: #fff;
    font-size: 19;
    cursor: pointer;
    transition: .3s;
}

.typeInner:hover{
    box-shadow: 0px 30px 42px #2c2c2c46;
}

.curentType{
    background-color: #fff;
    color: var(--site-pourple);
    padding: 45px 20px;
    position: relative;
    box-shadow: 0px 30px 42px #2C2C2C26;
}

.curentType span{
    background-color: var(--site-pourple);
    position: absolute;
    bottom: 0;
    left: 29%;
    width: 40px;
    height: 3px;
}

.dailyTimeSetting{
    font-family: "IRANyekan";
    padding-right: 20px;
}

.dailyTimeSetting h3{
    color: var(--stie-high-gray);
    font-family: "IRANyekanBold";
    padding-left: 40px;
}

.timeHead label{
    color: var(--site-pourple);
    padding-left: 6px;
}

/* .timeHead input[type="checkbox"]{
    border: none;
    padding: 5px;
    box-shadow: 0px 30px 42px #2C2C2C26;
} */

.dayTime h4 , .hourTime h4{
    color: var(--site-pourple);
    position: relative;
}

.dayTime label{
    font-family: "IRANyekanBold";
    padding-top: 5px;
    font-size: 20px;
}

.settingItem{
    border-right: 1px solid var(--site-pourple);
    padding-right: 20px;
}

.settingItem h4::before{
    content: "";
    width: 15px;
    height: 15px;
    display: flex;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid var(--site-pourple);
    position: absolute;
    top: 10px;
    right: -29px;
}

.hourTime input{
    max-width: 100%;
    background-color: #faf9f4;
    box-shadow: inset 0px 2px 15px #00000029;
    text-align: center;
    padding: 5px;
    border: none;
    outline: none;
    font-size: 22px;
    border-radius: 30px;
    color: #C0C3C8;
}

.hourTime label{
    padding-bottom: 6px;
    color: var(--stie-high-gray);
    text-align: center;
    font-size: 21px;
}

.toggleicon{
    visibility: hidden;
}

.singleDayTime{
    font-family: "IRANyekanBold";
    color: var(--stie-high-gray);
}

/* /////////////////////////////////// end of isntagram post page */



















/* //////////////////////////////// footer */

.logoFooter{
    background-color: var(--site-pourple);
    padding: 5px;
    line-height: 1;
    border-radius: 35px;
    color: #fff;
    text-align: center;
    font-size: 60px;
}

.socialMedia a{
    color: var(--site-pourple);
    font-size: 24px;
    transition: .3s;
}

.socialMedia a:hover{
    transform: scale(1.4);

}

.footerItemInner{
    height: 100%;
}

.footerItemInner h5{
    color: var(--site-high-gray);
    padding-bottom: 20px;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
    font-weight: bolder;
    max-width: 80%;
}

.footerItemInner p{
    font-size: 15px;
    color: var(--site-high-gray);
    line-height: 2;
}

.footerItemInner ul{
    list-style: none;
    padding-right: 20px;
}

.footerItemInner ul a{
    color: var(--site-high-gray);
    text-decoration: none;

}

.footerItemInner ul a li{
    padding-bottom: 20px;
    transition: .4s;
}

.footerItemInner ul a:hover{
    color: var(--site-pourple);
    font-weight: bold;
}

.footerItemInner ul a:hover li{
    padding-right: 15px;
}

.mapouter iframe{
    width: 100%;
    height: 180px;
    border-radius: 20px;
}

.footerItemInner h6{
    color: var(--site-high-gray);
    padding-bottom: 10px;
    border-bottom: 2px solid #ddd;
    margin-bottom: 10px;
    font-weight: bolder;
}

.footerLogin{
    background-color: var(--site-pourple);
    border: none;
    padding: 5px 25px;
}

/* //////////////////////////////// end of footer */








@media screen and (min-width: 768px) {
    .sideBarScroll{
        height: 50vh;
    }
}



@media screen and (max-width: 1300px) {

    .footerItemInner ul{
        padding: 0;
    }
    
    .calenderHeader h3{
        font-size: 25px;
    }

}


@media screen and (max-width: 1100px){
    .loginForm, .singUpForm{
        padding: 10px 30px 60px 30px;
    }

    /* /////////// profile prime */
    .primeOff{
        padding: 6px 5px;
        font-size: 10px;
    }
    /* \\\\\\\\\\\ end of profile prime */  
}

@media screen and (max-width: 992px){
    /* //////// watch and side menu fix */
    .watchBand{
        width: 80px;
    }
    
    .watchDisplay{
        width: 140px;
        height: 140px;
        font-size: 56px;
    }

    .menuSide{
        width: 80px;
    }
    
    .menuSide a{
        font-size: 14px;
    }
    /* \\\\\\\ end watch and side menu fix */
}


@media screen and (max-width: 768px) {
    header, .headContent{
        min-height: auto;
    }
    .datePackage{
        border-left: none !important;
    }
    .calenderText{
        padding-right: 0;
    }

    .datePackage1, .datePackage2{
        border-bottom: 1px solid #afafaf;
    }
    .datePackage1, .datePackage3{
        border-left: 1px solid #afafaf !important;
    }

    .footerItemInner h5{
        max-width: 100%;
    }


    .navbar{
        box-shadow: 0px 20px 34px #9f9f9f29;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 7;
        background: #faf9f4;
    }


    .menuSide {
        right: 0;
        width: 0;
        display: none;
        visibility: hidden;
        z-index: 6;
    }


    .watchBand{
        height: 75px;
        width: 100vh;
        position: relative;
        display: flex !important;
        z-index: 4;
    }

    /* /////////// code page */
    .codeAcceptWrapper{
        padding: 0;
    }

    .smsForm{
        padding: 20px 0;
        border: none;
    }
    /* \\\\\\\\\\\ end code page */


    /* /////////// month calender page */
    .allDateWrapper{
        border-left: none;
    }
    .line{
        width: 30px;
    }

    .monthEventText{
        font-size: 14px;
    }
    /* \\\\\\\\\\\ end month calender page */


    /* /////////// contact us page */
    .imageContactUs img{
        position: relative;
        top: 0;
        right: 0;
        margin: 0 auto;
    }
    /* \\\\\\\\\\\ end month calender page */


    /* /////////// logein page */
    .singUpForm, .loginForm{
        padding: 10px 10px 60px 10px;
    }
    /* \\\\\\\\\\\ end logein page */



    /* /////////// age page */
    .ageResult{
        padding: 30px 8px;
        font-size: 15px;
    }
    .ageResult p{
        font-size: 15px;
        padding-bottom: 5px;
    }
    /* \\\\\\\\\\\ end age page */


    /* /////////// profile prime */
    .primeCounter{
        font-size: 22px;
    }
    /* \\\\\\\\\\\ end of profile prime */

}



@media screen and (max-width: 500px) {

    .calenderBodyBody div span{
        font-size: 16px;
    }

    .calenderBodyBody div{
        padding-bottom: 12px;
    }

    .createYourOwnCalenderInner{
        font-size: 32px;
    }

}



@media screen and (max-width: 350px) {
    .calenderBodyBody div span{
        width: 100%;
    }
    .calenderSingleText span{
        font-size: 12px;
    }
    .calenderSingleText h4{
        font-size: 19px;
    }

    /* /////////// month contact us page */
    .line{
        width: 10px;
    }
    /* \\\\\\\\\\\ end month calender page */

}