/* ////////////////////// variables */

:root{
    --site-pourple: #5568F2;
    --site-gray: #646E80;
    --stie-high-gray: #323846;
    --site-soft-gray: #E4E4E4;
    --site-bg: #FAF9F4;
}

/* ////////////////////// end of variables */








/* ////////////////////// most usefull class */


.height-100{
    height: 100%;
}

.width-100{
    width: 100%;
}

.width-70{
    width: 70%;
}

.pointer{
    cursor: pointer;
}

.bg-gradiant-1{
    background: linear-gradient(to right, #3494e6, #ec6ead) !important;
}

.bg-gradiant-2{
    background: linear-gradient(to right, #8360c3, #2ebf91) !important;
}

.shake:hover{
    cursor: pointer;
    animation: .3s shake infinite;
}

@keyframes shake {
    50%{
        transform: rotate(-5deg) scale(1.2);
    }
    100%{
        transform: rotate(5deg) scale(1);
    }
}

.border-radius-5{
    border-radius: 17px;
}

.border-radius-4{
    border-radius: 13px;
}

.border-radius-3{
    border-radius: 10px;
}

.border-radius-2{
    border-radius: 6px;
}



.box-shadow-normal{
    box-shadow: 0px 3px 12px 0px #dddddd;
}


/* ////////////////////// end of most class */










/* ///////////////////// menu button */

.menu-button {

    padding: 2px 10px;

    cursor: pointer;

    -webkit-transition: .3s;
    transition: .3s;
}

.menu-button .bar:nth-of-type(1) {
    margin-top: 0px;
}

.menu-button .bar:nth-of-type(3) {
    margin-bottom: 0px;
}

.bar {
    position: relative;
    display: block;

    width: 50px;
    height: 4px;

    margin: 10px auto;
    background-color: var(--stie-high-gray);

    border-radius: 10px;

    -webkit-transition: .3s;
    transition: .3s;
}

.menu-button:hover .bar:nth-of-type(1) {
    -webkit-transform: translateY(1.5px) rotate(-4.5deg);
    -ms-transform: translateY(1.5px) rotate(-4.5deg);
    transform: translateY(1.5px) rotate(-4.5deg);
}

.menu-button:hover .bar:nth-of-type(2) {
    opacity: .9;
}

.menu-button:hover .bar:nth-of-type(3) {
    -webkit-transform: translateY(-1.5px) rotate(4.5deg);
    -ms-transform: translateY(-1.5px) rotate(4.5deg);
    transform: translateY(-1.5px) rotate(4.5deg);
}

.cross .bar:nth-of-type(1) {
    -webkit-transform: translateY(15px) rotate(-45deg);
    -ms-transform: translateY(15px) rotate(-45deg);
    transform: translateY(15px) rotate(-45deg);
}

.cross .bar:nth-of-type(2) {
    opacity: 0;
}

.cross .bar:nth-of-type(3) {
    -webkit-transform: translateY(-15px) rotate(45deg);
    -ms-transform: translateY(-15px) rotate(45deg);
    transform: translateY(-15px) rotate(45deg);
}

.cross:hover .bar:nth-of-type(1) {
    -webkit-transform: translateY(13.5px) rotate(-40.5deg);
    -ms-transform: translateY(13.5px) rotate(-40.5deg);
    transform: translateY(13.5px) rotate(-40.5deg);
}

.cross:hover .bar:nth-of-type(2) {
    opacity: .1;
}

.cross:hover .bar:nth-of-type(3) {
    -webkit-transform: translateY(-13.5px) rotate(40.5deg);
    -ms-transform: translateY(-13.5px) rotate(40.5deg);
    transform: translateY(-13.5px) rotate(40.5deg);
}

/* ///////////////////////// end of menu button */
















/* //////////////////////////////////// day and night toggle switch */

.dayAndNightWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-weight: 300;
  font-size: 24px;
  transition: 500ms background ease-in-out, 500ms color ease-in-out;
}

:root {
  --bg-color: #2b2b2b;
  --fg-color: rgba(255, 255, 255, 0.9);
}

body.day {
  --bg-color: #c4e4ff;
  --fg-color: rgba(0, 0, 0, 0.7);
}

label.day-night-switch {
  --size: 90px;
  --height: calc(var(--size) / 2);
  --padding: calc(var(--size) * 0.04);
  --border-width: calc(var(--size) * 0.02);
  --transition-duration: 250ms;
  --switch-size: calc(
    var(--height)
    - 2 * var(--padding)
    - 2 * var(--border-width)
  );
  --pos-left: var(--padding);
  --pos-right: calc(
    var(--size)
    - var(--switch-size)
    - var(--padding)
    - 2 * var(--border-width)
  );
  --shift: calc(
    var(--height) * 1.25
  );
  width: var(--size);
  height: var(--height);
  border-radius: var(--height);
  border: var(--border-width) solid white;
  position: relative;
  transition: all var(--transition-duration) ease-in-out;
  cursor: pointer;
  overflow: hidden;
}
label.day-night-switch > .celestial {
  transition: all var(--transition-duration) ease-in-out;
  width: var(--switch-size);
  height: var(--switch-size);
  border: var(--border-width) solid green;
  display: inline-block;
  position: absolute;
  border-radius: var(--height);
}
label.day-night-switch > .celestial.sun {
  background-color: #fdc82e;
  border-color: #e3ad0d;
}
label.day-night-switch > .celestial.moon {
  background-color: #d2cec4;
  border-color: #a9a18f;
}
label.day-night-switch > .celestial.moon > .craters > .crater {
  background-color: #d2cec4;
  border-color: #a9a18f;
  border-width: calc(max(var(--border-width) * 0.65, 1px));
  border-style: solid;
  position: absolute;
  border-radius: 50%;
}
label.day-night-switch > .celestial.moon > .craters > .crater:nth-child(1) {
  width: calc(var(--switch-size) * 0.15);
  height: calc(var(--switch-size) * 0.15);
  top: calc(var(--switch-size) * 0.7);
  left: calc(var(--switch-size) * 0.4);
}
label.day-night-switch > .celestial.moon > .craters > .crater:nth-child(2) {
  width: calc(var(--switch-size) * 0.3);
  height: calc(var(--switch-size) * 0.3);
  top: calc(var(--switch-size) * 0.1);
  left: calc(var(--switch-size) * -0.05);
}
label.day-night-switch > .celestial.moon > .craters > .crater:nth-child(3) {
  width: calc(var(--switch-size) * 0.1);
  height: calc(var(--switch-size) * 0.1);
  top: calc(var(--switch-size) * 0.2);
  left: calc(var(--switch-size) * 0.6);
}
label.day-night-switch > .celestial.moon > .craters > .crater:nth-child(4) {
  width: calc(var(--switch-size) * 0.1);
  height: calc(var(--switch-size) * 0.1);
  top: calc(var(--switch-size) * 0.3);
  left: calc(var(--switch-size) * 0.25);
}
label.day-night-switch > .celestial.moon > .craters > .crater:nth-child(5) {
  width: calc(var(--switch-size) * 0.2);
  height: calc(var(--switch-size) * 0.2);
  top: calc(var(--switch-size) * 0.5);
  left: calc(var(--switch-size) * 0.8);
}
label.day-night-switch > .decorations > .decoration {
  position: absolute;
  transition: all var(--transition-duration) ease-in-out;
}
label.day-night-switch > .mountains {
  position: absolute;
  display: inline-block;
  top: calc(var(--switch-size) * 0.85);
  left: calc(var(--switch-size) * 0.7);
}
label.day-night-switch > .mountains > * {
  position: absolute;
  display: inline-block;
  border-width: var(--border-width);
  border-style: solid;
  transform: rotate(45deg);
  transition: all var(--transition-duration) ease-in-out;
  border-top-left-radius: calc(var(--switch-size) * 0.1);
  background-color: white;
  border-color: black;
}
label.day-night-switch > .mountains > *:nth-child(1) {
  width: calc(var(--switch-size) * 0.9);
  height: calc(var(--switch-size) * 0.9);
  top: calc(var(--switch-size) * 0.1);
}
label.day-night-switch > .mountains > *:nth-child(2) {
  width: calc(var(--switch-size) * 0.45);
  height: calc(var(--switch-size) * 0.45);
  top: calc(var(--switch-size) * 0.2);
  left: calc(var(--switch-size) * 0.6);
}

input.day-night-switch {
  display: none;
}
input.day-night-switch:checked + label.day-night-switch {
  border-color: #3190bf;
  background-color: #6cbde5;
}
input.day-night-switch:checked + label.day-night-switch > .celestial.sun {
  transition-delay: var(--transition-duration);
  top: var(--padding);
  left: var(--pos-right);
  transform: scale(1);
}
input.day-night-switch:checked + label.day-night-switch > .celestial.moon {
  transition-delay: 0ms;
  left: var(--pos-left);
  top: var(--shift);
  transform: scale(0);
}
input.day-night-switch:checked + label.day-night-switch > .decorations {
  opacity: 0.5;
}
input.day-night-switch:checked + label.day-night-switch > .decorations .decoration {
  background-color: white;
  border-radius: 50%;
  animation: 4s vibe ease-in-out infinite;
  animation-direction: alternate;
}
input.day-night-switch:checked + label.day-night-switch > .decorations .decoration:nth-child(1) {
  border-radius: calc(var(--switch-size) * 0.3);
  height: calc(var(--switch-size) * 0.3);
  width: calc(var(--switch-size) * 0.84);
  top: calc(var(--switch-size) * 0.6);
  left: calc(var(--switch-size) * 0.45);
}
input.day-night-switch:checked + label.day-night-switch > .decorations .decoration:nth-child(2) {
  animation-delay: 300ms;
  animation-duration: 2.5s;
  height: calc(var(--switch-size) * 0.35);
  width: calc(var(--switch-size) * 0.35);
  top: calc(var(--switch-size) * 0.5);
  left: calc(var(--switch-size) * 0.35);
}
input.day-night-switch:checked + label.day-night-switch > .decorations .decoration:nth-child(3) {
  animation-delay: 800ms;
  animation-duration: 3.5s;
  height: calc(var(--switch-size) * 0.3);
  width: calc(var(--switch-size) * 0.3);
  top: calc(var(--switch-size) * 0.5);
  left: calc(var(--switch-size) * 0.85);
}
input.day-night-switch:checked + label.day-night-switch > .decorations .decoration:nth-child(4) {
  animation-delay: 1400ms;
  animation-duration: 3s;
  height: calc(var(--switch-size) * 0.4);
  width: calc(var(--switch-size) * 0.4);
  top: calc(var(--switch-size) * 0.4);
  left: calc(var(--switch-size) * 0.55);
}
input.day-night-switch:checked + label.day-night-switch > .mountains > * {
  background-color: #d4d4d4;
  border-color: #a8a8a8;
}
input.day-night-switch + label.day-night-switch {
  border-color: #2a4569;
  background-color: #223349;
}
input.day-night-switch + label.day-night-switch > .celestial.sun {
  transition-delay: 0ms;
  top: var(--shift);
  left: var(--pos-right);
  transform: scale(0);
}
input.day-night-switch + label.day-night-switch > .celestial.moon {
  transition-delay: var(--transition-duration);
  top: var(--padding);
  left: var(--pos-left);
  overflow: hidden;
  transform: scale(1);
}
input.day-night-switch + label.day-night-switch > .decorations > .decoration {
  background-color: white;
  border-radius: 50%;
  width: calc(max(var(--border-width) * 0.75, 2px));
  height: calc(max(var(--border-width) * 0.75, 2px));
  animation: 2s sparkle ease-in-out infinite;
  animation-direction: alternate;
}
input.day-night-switch + label.day-night-switch > .decorations > .decoration:nth-child(1) {
  top: calc(var(--switch-size) * 0.7);
  left: calc(var(--switch-size) * 1.7);
}
input.day-night-switch + label.day-night-switch > .decorations > .decoration:nth-child(2) {
  animation-delay: 300ms;
  animation-duration: 3s;
  top: calc(var(--switch-size) * 0.4);
  left: calc(var(--switch-size) * 1.4);
}
input.day-night-switch + label.day-night-switch > .decorations > .decoration:nth-child(3) {
  animation-delay: 800ms;
  animation-duration: 3.5s;
  top: calc(var(--switch-size) * 0.9);
  left: calc(var(--switch-size) * 2.2);
}
input.day-night-switch + label.day-night-switch > .decorations > .decoration:nth-child(4) {
  animation-delay: 1400ms;
  animation-duration: 2.5s;
  top: calc(var(--switch-size) * 0.3);
  left: calc(var(--switch-size) * 2);
}
input.day-night-switch + label.day-night-switch > .mountains > * {
  background-color: #878787;
  border-color: #5c5c5c;
}

@keyframes vibe {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
@keyframes sparkle {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.25;
  }
}


/* //////////////////////////////////// end of day and night toggle switch */





















/* .check {
    clear: both;
    display: block;
    border-radius: 4px;
} */
.check::after {
    clear: both;
    display: block;
    content: "";
}
.check .checkbox-container {
	float: left;
    box-sizing: border-box;
    text-align:center;
}


/* Styling Checkbox Starts */
.checkbox-label {
color: white;
    display: block;
    position: relative;
    margin: auto;
    cursor: pointer;
    font-size: 22px;
    line-height: 24px;
    height: 50px;
    width: 24px;
    clear: both;
}
.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox-label .mark {
	top:30px;
    position: absolute;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border-radius: 5px;
    transition: all 0.3s ease-in;
    border: 2px solid white;
    box-shadow: 0px 0px 4px #00000029, 0px 7px 13px #00000012
}
.checkbox-label input:checked ~ .mark {
    background-color: white;
    border-radius: 5px;
    transform: rotate(0deg) scale(1);
    opacity:1;
    border: 2px solid white;
}
.checkbox-label .mark::after {
    position: absolute;
    content: "";
    border-radius: 5px;
}
.checkbox-label input:checked ~ .mark::after {
  transform: rotate(45deg) scale(1);
  left: 6px;
  top: -5px;
  width: 10px;
  height: 20px;
  border: solid var(--site-pourple);
  border-width: 0 2px 2px 0;
  border-radius: 0;
}
/* For Ripple Effect */ 
.checkbox-label .mark::before {
    position: absolute;
    content: "";
    border-radius: 10px;
    border: 5px solid var(--site-pourple);
    transform: scale(0);    
}

.checkbox-label input:checked ~ .mark::before {
    left: -3px;
    top: -3px;
    width: 24px;
    height: 24px;
    border-radius: 5px;
    transform: scale(3);
    opacity:0;   
    transition: all 0.3s ease-out;
}